<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="container my-5">
    <h2>Edit Product</h2>
    <form th:action="@{/products/save}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="productname">Name</label>
            <input type="text" class="form-control" id="productname" th:field="*{productName}" required>
        </div>
        <div class="form-group">
            <label for="productdescription">Description</label>
            <textarea class="form-control" id="productdescription"  th:field="*{productDescription}" required></textarea>
        </div>
        <div class="form-group">
            <label for="unitprice">Price</label>
            <input type="number" class="form-control" id="unitprice"  th:field="*{unitPrice}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/products}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>